@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

.payment-btn:hover {
  background-color: #002077;
  color: white;
}

a.active {
  background-color: rgba(134, 134, 134, 0.416);
}